.button_cluster {
  display: flex;
  gap: 10px;
  align-items: center;
}
.back_container {
  background-color: rgb(235, 248, 235);
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
}
.back_svg path {
  fill: rgba(0, 128, 0, 1);
}
.data_container {
  background-color: rgb(253, 233, 240);
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
}
.data_svg path {
  fill: #ff0059 !important;
}
.front_container {
  background-color: rgb(243, 236, 253);
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
}
.front_svg path {
  fill: rgba(158, 92, 242, 1) !important;
}

.categories {
  margin: 10vh 0 0 0;
  width: 90%;
  padding: 20px;
  column-gap: 30px;
  row-gap: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  padding: 23px 20px 23px 20px;
  background-color: #fafafa;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  color: rgb(8, 8, 8, 0.5);
}

.button:hover {
  color: rgb(8, 8, 8, 0.8);
  background-color: #f1f1f1;
}

.button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  .categories {
    flex-direction: column;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1001px) {
  .categories {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 80%;
    margin-bottom: 20px;
  }
  .categories {
    background-color: white;
    z-index: 1;
    padding-bottom: 0;
  }
  .button_drop {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    animation-duration: 0.51s;
    z-index: 0;
    overflow: hidden;
    max-height: 400px;
  }

  .button_drop.animate_down {
    animation-name: animate-down;
  }

  .button_drop.animate_up {
    animation-name: animate-up;
  }
}

@keyframes animate-down {
  0% {
    max-height: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
  20% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  100% {
    max-height: 400px;
    transform: translateY(0);
  }
}

@keyframes animate-up {
  0% {
    max-height: 400px;
    transform: translateY(0);
    visibility: visible;
  }
  50% {
    visibility: hidden;
    transform: translateY(-100%);
  }
  90% {
    max-height: 0;
  }
  100% {
    max-height: 0;
    visibility: hidden;
  }
}
