/* Courses Container */
.courses_view {
  padding: 10vh 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.courses_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course_title {
  display: flex;
  justify-content: space-between;
}
.course_square {
  color: #e671e5;
}
.course_title_text {
  width: 100%;
  font-weight: 700;
}

.more_courses {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px 24px 10px 24px;
  font-weight: 600;
  color: rgba(8, 8, 8, 0.6);
  transition: all 0.2s ease-in-out;
}
.more_courses:hover {
  color: rgba(8, 8, 8, 0.75);
  background-color: #f0f0f0;
}

.course_box_container {
  padding-top: 5vh;
  flex-grow: 1;
  display: flex;
  max-width: 1348px;
  column-gap: 20px;
  row-gap: 30px;
  flex-wrap: wrap;
}
/* End */

/* Course Box */

.course_container {
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 12px;
  border: #f1f1f1 1px solid;
}

.course_image {
  max-width: 300px;
  min-height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
}

.course_name {
  width: 95%;
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(8, 8, 8, 0.75);
  text-overflow: ellipsis;
}
.info {
  margin: 27px 0 27px 0;
  padding: 0 10px 0 10px;
  width: 96%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 600;
  color: rgba(8, 8, 8, 0.6);
}

.button_container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 10px;
  margin: 20px 0 20px 0;
  align-items: center;
}

.information_button {
  padding: 10px 24px 10px 24px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: rgb(8, 8, 8, 0.8);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  border-radius: 10px;
}

.information_button:hover {
  background-color: rgba(8, 8, 8, 0.9);
}
.lessons,
.level,
.student {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: 600;
}
/* End */

@media screen and (max-width: 800px) {
  .information_button {
    width: auto;
    text-align: center;
  }
}

@media screen and (max-width: 738px) {
  .course_box_container {
    justify-content: center;
  }
}
