.back_container {
  background-color: rgb(235, 248, 235);
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
}
.back_svg path {
  fill: rgba(0, 128, 0, 1);
}
.data_container {
  background-color: rgb(253, 233, 240);
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
}
.data_svg path {
  fill: #ff0059 !important;
}
.front_container {
  background-color: rgb(243, 236, 253);
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
}
.front_svg path {
  fill: rgba(158, 92, 242, 1) !important;
}
