/* People Container */
.people_container {
  padding: 10vh 50px 20vh 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
}

.people_information {
  padding: 0vh 50px 10vh 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.people_text h1 {
  font-size: 36px;
  text-wrap: nowrap;
}

.people_text h1 span {
  background: linear-gradient(#b176f2, #fac1f1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.people_text p {
  padding: 36px 0 0 0;
  font-size: 14px;
  max-width: 90%;
  color: rgba(8, 8, 8, 0.7);
  font-weight: 600;
}

.people_button {
  width: fit-content;
  padding: 16px;
  background-color: black;
  color: white;
  border-radius: 12px;
  margin: 100px 0 0 0;
}

.people_displays {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 55%;
}

.people_background {
  position: absolute;
  background-color: #9e5cf2;
  opacity: 0.1;
  z-index: 0;
  border-radius: 25px 0 0 25px;
  height: 300px;
  width: 50%;
  margin-left: 20%;
}
.people_cards {
  max-width: 100%;
  gap: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* End */

.container_box {
  background-color: #fafafa;
  z-index: 1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #ddd 1px solid;
}
.image {
  width: 220px;
  margin: 10px 10px 10px 10px;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
}

.info {
  padding: 0 15px 24px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info p:first-child {
  font-weight: 700;
  color: #3e3232;
  font-size: 12px;
}
.info p:last-child {
  color: #3e3232;
  font-size: 12px;
  opacity: 0.75;
}

@media screen and (max-width: 800px) {
  .people_container {
    padding: 10vh 50px 10vh 50px;
    min-height: 0;
  }

  .people_container {
    flex-direction: column;
  }
  .people_information {
    padding: 0 0 10vh 0;
  }
  .people_displays {
    display: none;
  }
  .people_button {
    margin: 40px 0 0 0;
  }
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  .people_container {
    width: 100%;
  }
  .image {
    width: 160px;
  }
  .people_displays {
    width: 60%;
  }
  .people_cards div {
    gap: 10px;
  }
}
